@import "../node_modules/bootstrap/scss/functions";

$primary:       #9ECE6A !default;
$secondary:     #24283B !default;
$warning:       #E0AF68 !default;
$body-color:    #C0CAF5 !default;
$body-bg:       #1A1B26 !default;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap.scss"


